.classic {

    border: 5px solid black;
    margin: 10px;
    padding: 15px;
    width: 300px;
    height: auto;
    background-image: url("https://th.bing.com/th/id/R.f48ceff9ab3322d4e84ed12a44c484d1?rik=0KQ6OgL4T%2b9uCA&riu=http%3a%2f%2fwww.photo-paysage.com%2falbums%2fuserpics%2f10001%2fCascade_-15.JPG&ehk=kx1JjE9ugj%2bZvUIrjzSmcnslPc7NE1cOnZdra%2f3pJEM%3d&risl=1&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 139, 19);
    color: black;
    opacity: 1;
    overflow: auto;
    z-index: 1;
    box-shadow: 10px 5px 5px gray;


}